<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="./assets/image/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a id="home-nav" href="index.html">
											HOME
										</a>
									</li>
									<li class="nav-item dropdown"><!-- SERVICES -->
										<a class="nav-link dropdown-toggle" href="index.html#services" data-bs-toggle="dropdown" style="display: flex; align-items: center;">SERVICES </a>
										 <ul class="dropdown-menu bg-white" style="border: none;">
										   <li><a class="dropdown-item" href="./residential.html" style="color: black;" >RESIDENTIAL</a></li>
										   <li><a class="dropdown-item" href="./commercial.html" style="color: black;" >COMMERCIAL</a></li>
										   <li><a class="dropdown-item" href="./quote.html" style="color: black;" >GET QUOTE</a></li>
										 </ul>
									 </li>
									<li><!-- PORTFOLIO -->
										<a id="portfolio-nav" href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="./index.html#contact" class="btn btn-xlg btn-danger	 fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevator convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

			<!-- COMMERCIAL CONTENT -->

			<section id="commercial" >
				<div class='container'>
					<div class="heading-title heading-dotted text-center">
						<h1>Commercial Solutions</h1>
					</div>
					<p class="col-md-12">Whether you need to move a few people a few floors or thousands of people over a hundred floors
						, thyssenkrupp Elevator has the right solution for your building. No matter your priority, our elevators deliver 
						reliability, shorter ride times and less congestion.</p>
				</div>
				<div class='container' style='display: flex; margin-top: 100px;'>
					<div class="col-md-6">
						<img src="./assets/image/NewJerseyAvenue.jpg" alt="New Jersey Avenue" style="width: 100%; max-height: 350px;" />
					</div>
					<div class="col-md-6">
						<h1 class="text-center">300 New Jersey Avenue, NW, Washington, D.C.</h1>
						<p> The historic status of this building meant extremely restricting guidelines for an expansion project. 
							Renowned architect Richard Rogers came up with a plan to connect three separate structures into one with an open-air elevator shaft 
							featuring glass walkways. ThyssenKrupp Elevators Americas designed, manufactured and installed the elevators for this project.
							 Some design aspects include an exposed red elevator track and scenic car with a seamless glass wall and ceiling configuration. 
							 Read more about the project in the Washington Post.</p>
					</div>
				</div>
				<div class='container' style='display: flex; margin-top: 100px;'>
					<div class="col-md-6">
						<h1 class="text-center">World Financial Center, New York, New York</h1>
						<p>mproving energy conservation was the goal of the World Financial Center’s modernization project. 
							A total of 96 elevators were updated as part of a $250 million renovation endeavor. thyssenkrupp Elevator modernizations 
							achieve the largest potential for efficiency by reducing the energy used to operate the elevators. The project also marks 
							the first large-scale modernization in the region to feature thyssenkrupp Elevator’s Destination Dispatch, which directs passengers 
							to the elevator that will get them to their destination in the shortest travel time. This practice can reduce time to destination 
							by up to 30% compared to standard elevator control. Our energy-saving feature and equipment, combined with our long-term service 
							contract, support sustainability efforts and set new standards for eco-efficiency. In fact, One World Financial Center was recently
							 certified LEED Gold.</p>
					</div>
					<div class="col-md-6">
						<img src="./assets/image/oneWorldTrade.jpg" alt="/One World Trade" style="width: 100%; max-height: 470px;" />
					</div>
				</div>

				<div class="container" style="display: flex; justify-content: center; margin-top: 100px;">		
					<a href="./quote.html" class="growHover btn btn-blue btn-lg">
						Get A Quote
					</a> 
			</div>
				
			</section>
			<!-- /COMMERCIAL CONTENT -->