<!-- wrapper -->
		<div id="wrapper">

			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="./home.html#contact" class="btn btn-xlg btn-danger	 fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevator convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			<!-- RESIDENTIAL CONTENT -->

			<section id="residential" >
				<div class='container'>
					<div class="heading-title heading-dotted text-center">
						<h1>Residential Solutions</h1>
					</div>
					<p class="col-md-12">To many people living in a high-rise building, an elevator is the last stop in rush hour before arriving
						 safely home. At thyssenkrupp Elevator, we understand that keeping your residential elevators running efficiently, reliably
						  and safely is of the upmost importance to you and your tenants. We offer the ability to design around the aesthetics of
						   your unique building, provide tenant security and even help you conserve energy.</p>
				</div>
				<div class='container' style='display: flex; margin-top: 100px;'>
					<div class="col-md-6">
						<h1 class="text-center">Luxury High-Rise Apartments, Los Angeles, California.</h1>
						<p>The last thing you want as a luxury high-rise condominium owner is tenants waiting too long for an elevator. 
							At thyssenkrupp Elevator, we understand that optimum elevator traffic flow is an essential amenity for your occupants.
							 The Pacifica Condominiums in Honolulu has 41 floors and 498 residential apartments and tenants that demand the highest 
							 standards. Luckily, the elevators are installed with thyssenkrupp Elevator’s Destination Dispatch. Passengers select 
							 their floor using a lobby kiosk and are directed to a specific elevator that takes them to select floors.</p>
					</div>
					<div class="col-md-6">
						<%= image_tag("LuxuryHighRise.jpg", width:"100%", height:"340px") %>
						<%# <img src="./assets/image/LuxuryHighRise.jpg" alt="Luxury High Risee" style="width: 100%; max-height: 340px;" /> %>
					</div>
				</div>
				<div class="container" style="display: flex; justify-content: center; margin-top: 100px;">		
						<a href="./quotes" class="growHover btn btn-blue btn-lg">
							Get A Quote
						</a> 
				</div>
			
			</section>
			<!-- /RESIDENTIAL CONTENT -->
