<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="./assets/image/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a id="home-nav" href="index.html">
											HOME
										</a>
									</li>
									<li class="nav-item dropdown"><!-- SERVICES -->
										<a class="nav-link dropdown-toggle" href="index.html#services" data-bs-toggle="dropdown" style="display: flex; align-items: center;">SERVICES </a>
										 <ul class="dropdown-menu bg-white" style="border: none;">
										   <li><a class="dropdown-item" href="./residential.html" style="color: black;" >RESIDENTIAL</a></li>
										   <li><a class="dropdown-item" href="./commercial.html" style="color: black;" >COMMERCIAL</a></li>
										   <li><a class="dropdown-item" href="./quote.html" style="color: black;" >GET QUOTE</a></li>
										 </ul>
									 </li>
									<li><!-- PORTFOLIO -->
										<a id="portfolio-nav" href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>
							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



		

			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="./index.html#contact" class="btn btn-xlg btn-danger	 fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevator convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			<!-- RESIDENTIAL CONTENT -->

			<section id="residential" >
				<div class='container'>
					<div class="heading-title heading-dotted text-center">
						<h1>Residential Solutions</h1>
					</div>
					<p class="col-md-12">To many people living in a high-rise building, an elevator is the last stop in rush hour before arriving
						 safely home. At thyssenkrupp Elevator, we understand that keeping your residential elevators running efficiently, reliably
						  and safely is of the upmost importance to you and your tenants. We offer the ability to design around the aesthetics of
						   your unique building, provide tenant security and even help you conserve energy.</p>
				</div>
				<div class='container' style='display: flex; margin-top: 100px;'>
					<div class="col-md-6">
						<h1 class="text-center">Luxury High-Rise Apartments, Los Angeles, California.</h1>
						<p>The last thing you want as a luxury high-rise condominium owner is tenants waiting too long for an elevator. 
							At thyssenkrupp Elevator, we understand that optimum elevator traffic flow is an essential amenity for your occupants.
							 The Pacifica Condominiums in Honolulu has 41 floors and 498 residential apartments and tenants that demand the highest 
							 standards. Luckily, the elevators are installed with thyssenkrupp Elevator’s Destination Dispatch. Passengers select 
							 their floor using a lobby kiosk and are directed to a specific elevator that takes them to select floors.</p>
					</div>
					<div class="col-md-6">
						<img src="./assets/image/LuxuryHighRise.jpg" alt="Luxury High Risee" style="width: 100%; max-height: 340px;" />
					</div>
				</div>
				<div class="container" style="display: flex; justify-content: center; margin-top: 100px;">		
						<a href="./quote.html" class="growHover btn btn-blue btn-lg">
							Get A Quote
						</a> 
				</div>
			
			</section>
			<!-- /RESIDENTIAL CONTENT -->
